
<html>
<head>
    <title>Test Mercure</title>
</head>
<body>
    <h1>Abonnement Mercure</h1>
    <div id="messages"></div>

    {# <script>
          const eventSource = new EventSource("http://localhost:3000/.well-known/mercure?topic=" + encodeURIComponent('https://example.com/updates'));
        
        eventSource.onmessage = event => {
            const data = JSON.parse(event.data);
            const messageElement = document.createElement('p');
            messageElement.textContent = `Message reçu: ${data.message} (Status: ${data.status})`;
            document.getElementById('messages').appendChild(messageElement);
        };
    </script> #}


    <script>
const eventSource = new EventSource("{{ mercure('https://example.com/books/1')|escape('js') }}");
eventSource.onmessage = event => {
    // Will be called every time an update is published by the server
    console.log(JSON.parse(event.data));
    const data = JSON.parse(event.data)
    const messageElement = document.createElement('p');
            messageElement.textContent = `Message reçu: ${data.status} `;
            document.getElementById('messages').appendChild(messageElement);
}
</script>
</body>
</html>